.about {
  width: 60vw;
  position: absolute;
  bottom: 0rem;
  left: 20vw;
  background-color: rgba(255, 255, 255, 0.964);
  padding: 0.5em;
  height: 12vw;
}
.about h3 {
  text-align: center;
}
.about-container {
  position: relative;
}

.background-image {
  max-width: 100vw;
  /* max-width: 80vh; */
  min-width: 80vw;
  padding: 5px;
  min-height: 20vw;
  max-height: 39vw;
  place-items: center;
  margin-left: 170px;
}

.main {
  position: relative;
  width: 90%;
  margin: auto;
  padding: 0.5rem;
}

.button-container {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  margin-top: -3rem; /* Adjust this value as needed */

}

.edit {
  position: absolute;
  top: 1rem;
  right: 1rem;
}

@media (min-width: 1110px) {
  .about {
    width: 40vw;
    left: 30vw;
  }
}
