.container {
  display: flex;
  position: relative;
  justify-content: space-between;
  padding: 1rem;
  margin: 1rem auto;
  max-width: 700px;
}

.description {
  padding: 1rem;
}

.image-container img {
  width: 10rem;
  height: 10rem;
  object-fit: cover;
  border-radius: 1rem;
}

.quantity {
  position: absolute;
  background-color: orange;
  width: 3rem;
  height: 3rem;
  border-radius: 2rem;
  text-align: center;
  padding: 0.6rem;
  color: white;
  top: 0.3rem;
  right: 0.3rem;
}
